<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FLAMESpace"
        tools:targetApi="31">
        <activity
            android:name=".profile.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".user.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".user.Logout"
            android:exported="false" />
        <activity
            android:name=".profile.Edit_profile"
            android:exported="false" />
        <activity
            android:name=".profile.Current"
            android:exported="false" />
        <activity
            android:name=".user.Signup"
            android:exported="false" />
        <activity
            android:name=".user.Reservation"
            android:exported="false" />
        <activity
            android:name=".buildings.Be"
            android:exported="false" />
        <activity
            android:name=".buildings.Cahs"
            android:exported="false" />
        <activity
            android:name=".buildings.Nh"
            android:exported="false" />
        <activity
            android:name=".buildings.Mba"
            android:exported="false" />
        <activity
            android:name=".buildings.Cma"
            android:exported="false" />
        <activity
            android:name=".buildings.Ptc"
            android:exported="false" />
        <activity
            android:name=".profile.History"
            android:exported="false" />
        <activity
            android:name=".profile.Profile"
            android:exported="false" />
        <activity
            android:name=".buildings.Home"
            android:exported="false" />
        <activity
            android:name=".user.SignIn"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver android:name=".notification.AlarmReceiver" />
    </application>

</manifest>